.layout-header{
    min-height: 38px;
    vertical-align: middle;
}

.loginForm{
    padding: 50px 30px 30px 10px;
    border: 1px solid #D0D0D0;
    width: 400px;
    margin: 0 auto;
}

.changeLink,.findLink{
    line-height: 55px;
    vertical-align: top;
}

.panel-footer{
    position: fixed;
    bottom: 0;
    width:100%;
}

.admin-item{
    width:200px;
    height:200px;
    border-radius: 100px;
    border:1px solid #d9edf7;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin:20px;
}

.admin-item:hover{
    cursor: pointer;
    background-color: #faf2cc;
    font-weight: bolder;
}

.successInfo{
    background: url(/images/success.png) no-repeat;
    padding:50px ;
}

.file-item{
    border:1px solid #D0D0D0;
    width: 250px;
    height: 250px;
    margin:10px;
    border-radius: 3px;
    display: inline-block;
}
.file-item:hover{
    cursor: pointer;
}

.file{
    width: 200px;
    height: 200px;
}

.playImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    opacity: 0.8;
}

.user-item{
    text-align: center;
}

.file-item-remove{
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 5px ;
}
.file-item-remove:hover{
    cursor: pointer;
    background-color: #D0D0D0;
}