.layout-header{
    min-height: 38px;
    vertical-align: middle;
}

.loginForm{
    padding: 50px 30px 30px 10px;
    border: 1px solid #D0D0D0;
    width: 400px;
    margin: 0 auto;
}

.changeLink,.findLink{
    line-height: 55px;
    vertical-align: top;
}

.panel-footer{
    position: fixed;
    bottom: 0;
    width:100%;
}

.admin-item{
    width:200px;
    height:200px;
    border-radius: 100px;
    border:1px solid #d9edf7;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin:20px;
}

.admin-item:hover{
    cursor: pointer;
    background-color: #faf2cc;
    font-weight: bolder;
}

.successInfo{
    background-image: url(/images/success.png);
    padding-left:10px ;
}